<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>🔐 Sistema de Pedidos</mat-card-title>
      <mat-card-subtitle>Insira suas credenciais para acessar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="username" placeholder="Digite seu usuário">
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            O usuário é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Digite sua senha">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            A senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="full-width btn-login">
          Entrar no Sistema
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
